{%extends "base.html"%} {% block content %}

<h1 style="text-align: center">Welcome</h1>
<h3 style="text-align: center;">Add a food item</h3>
<div style="text-align: center;">
    <form action="/addFoodItems" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <h6>Food item</h6> <span><input type="text" name="name" id="name"></span>
        <h6>Calories</h6> <span><input type="number" step="0.01" name="calorie" id="calorie"></span>
        <h6>Protein</h6> <span><input type="number" step="0.01" name="protein" id="protein"></span>
        <h6>Fat</h6> <span><input type="number" step="0.01" name="fat" id="fat"></span>
        <h6>Image</h6><input type="file" name="image" id="image">
        <button type="submit" class="btn btn-primary">Submit</button>
        <p>*Quantity of each item is 100 grams</p>
    </form>
</div>

{% for item in items %}
    <div class="container" style="border: 1px solid gray; margin: 15px;">
    <img style="width: 250px; height: auto;" src={{item.image.url}} alt={{item.name}}>
    <p>{{item.name}}</p>
    <p>{{item.calorie}}</p>
    <p>{{item.protein}}</p>
    <p>{{item.fat}}</p>
    <a class="btn btn-primary" style="margin-bottom: 10px;" href="/addToFavorites/{{item.id}}">Add To Favorites</a>
    </div>
{% endfor %}

{% endblock content %} 

    
 {% block username %} {{user.username}} {% endblock username %}

